# fly.toml app configuration file generated for your Rust application
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "basi-api"
primary_region = "iad"

[build]
builder = "docker"
dockerfile = "./Dockerfile"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1

[[vm]]
memory = "256mb"
cpus = 1
