.cats {
  display: flex;
}
.cat {
  border: 4px solid grey;
  min-width: 100px;
  min-height: 250px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.cat > img {
  width: 190px;
}
image{
    width: 50px;
    height: 50px;
}